.aboutUs {}

#aboutUsContainer {
    margin-top: 1rem;
}

.gray-bg {
    background: #F1F1F1 !important;
}

.about-title {}

.about-title p {
    line-height: 1.8;
    margin: 0 0 15px;
}

.about-icons div {
    margin: 1rem;
}

/* Social Icons */

.about-icons {}

.about-icons i {
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    color: #323232;
    font-size: 35px;
}

.about-icons li {}

#social-linkedin:hover {
    color: #0077B5;
    transition: all .001s;
}

#social-github:hover {
    color: #15AABF;
    transition: all .001s;
}

#social-xing:hover {
    color: #B0D400;
    transition: all .001s;
}

#social-em:hover {
    color: #DB483B;
    /*#f39c12;*/
    transition: all .001s;
}

.greenCodesText {
    color: #28A745;
}

.fa .fa-search {
    color: green;
}

.fa-green-48 {
    color: green !important;
    font-size: 48px !important;
}

.commentUserName {
    font-size: 13px;
    font-weight: 700;
}